
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC213 Todo</title>
</head>
<body>


    <h1>Social todo app for cpsc213</h1>
    
    {{#if errors}}
    {{#each errors}}
    <div class="errors">
        {{this.msg}}
    </div>
    {{/each}}
    {{/if}}


    <h2 class="welcome">Welcome, {{name}}</h2>
    
    <h4>Your Tasks</h4>
    {{#if my_tasks}}
    <ul class="tasks">
        {{#each my_tasks}}
                    <li class="task">
                      <span class="task-title">{{this.name}}</span>
                      <p class="description">{{this.description}}</p>
                        <form method="post" action="/api/task/{{this._id}}/delete">
                          <input type="submit" name="delete" class="delete" value="delete">
                        </form>
                      <form method="post" action="/api/task/{{this._id}}/completed">
                        <input type="submit" name="toggle" class="toggle" value="Completed?">
                        <p class="completed">{{this.completed}}</p>
                    </li>
        {{/each}}
    </ul>

    {{else}}
    <h1>No tasks</h1>
    {{/if}}
    
    <h4>Shared Tasks</h4>
    {{#if shared_tasks}}
    <ul>
        {{#each shared_tasks}}
                <li class="task">
                      <span class="task-title">{{this.name}}</span>
                      <p class="description">{{this.description}}</p>
                        <form method="post" action="/api/task/{{this._id}}/delete">
                          <input type="submit" name="delete" class="delete" value="delete">
                        </form>
                      <form method="post" action="/api/task/{{this._id}}/completed">
                        <input type="submit" name="toggle" class="toggle" value="Completed?">
                        <p class="completed">{{this.completed}}</p>
                    </li>
        {{/each}}
        </ul>
    {{else}}
    <h4>No tasks</h4>
    {{/if}}
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form class="createTask" action="/api/task/create" method="POST">
            <label for="name">Task name</label>
            <input name="name" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
        </form>
    </div>
